.subinfo {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.student-card {
  width: 250px;
  padding: 12px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.student-img {
  border-radius: 10px;
}

.student-info {
  font-size: 20px;
  font-weight: bold;
  color: cornflowerblue;
}
