.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
    margin: 15px
}

.btn-error {
    background-color: #d52929;
}

.btn-error:hover {
    background-color: #fe0019;
}

.btn-warning {
    background-color: #ffff44;;
}

.btn-warning:hover {
    background-color: #b4dc21;;
}

.btn-success {
    background-color: #2ecc71;;
}

.btn-success:hover {
    background-color: #27ae60;;
}