.footer {
  position: sticky;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: cornflowerblue;
}
