.alert {
    border-radius: 10px;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
}

.alert-success {
    background-color: #2ecc71;
}


.alert-warning {
    background-color: #f39c12;
}


.alert-error {
    background-color: #e74c3c;
}