.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-card {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #fafafa;
  text-align: center;
  padding: 16px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
