.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
    margin: 15px
}

.btn-primary {
    background-color: #3498db;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.btn-danger {
    background-color: #e74c3c;;
}

.btn-danger:hover {
    background-color: #c0392b;;
}

.btn-success {
    background-color: #2ecc71;;
}

.btn-success:hover {
    background-color: #27ae60;;
}