.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.overlay.show .login-form {
    transform: translateY(0);
}

.login-form {
    background-color: white;
    padding: 24px;
    width: 320px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    transform: translateY(-20px);
    transition: transfrom 0.2s ease;
}

.close-btn {
    align-self: flex-end;
    border: none;
    background: none;
    font-size: 12px;
    cursor: pointer;
}

.login-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.login-form input:focus {
    outline: none;
    border-color: #2e46bb;
    box-shadow: 0 0 0 2px rgba(46, 70, 187, 0.2);
}

.login-btn {
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #2e46bb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #1a2d8b;
}