.product-card {
    width: 250px;
    padding: 16px;
    border-radius: 12px; 
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.25);
}

.product-image {
    width: 100%;
    border-radius: 8px;
}

.product-name {
    font-size: 18px;
    margin: 12px;
    font-weight: bold;
}

.product-price {
    color: #e53935;
    font-weight: bold;
    margin-bottom: 12px;
}

.add-to-cart {
    padding: 10px 16px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.add-to-cart:hover {
    background-color: #125aa3;
}