.header {
  width: 100%;
  height: 100px;
  background-color: crimson;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
